// 基本颜色
$black:								#000;
$white:								#fff;
$red:									#f00;
$green:								#0f0;
$blue:								#00f;

// 样式颜色
$primaryColor:				#c69;
$primaryBGColor:			#036;

// 字体
$baseFontSize:				14px !default;
$baseFontColor:				$primaryColor !default;
$baseFontFamily:			"Helvetica Neue", Helvetica, Tahoma, sans-serif !default;